body,
li,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    overflow-y: hidden;
}
body,
html {
    height: 100%;
}
.day {
    padding: 0 0.7rem;
    overflow-y: scroll;
    height: calc(100% - 5.4rem);
}
.chat-room {
    background-color: #9bbbd4;
    height: 100%;
    position: relative;
}
.mine > div > div {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-120%);
    white-space: nowrap;
    margin-right: rem;
}
.chat-room .text {
    position: absolute;
    box-sizing: border-box;
}
.chat-room .mine > div {
    background-color: #fef01b;
    float: right;
    padding: 1rem 0.8rem;
    margin-right: 0.5rem;
    position: relative;
}
.chat-room .mine::after {
    content: "";
    display: block;
    clear: both;
}
.chat-room .other > div {
    background-color: #ffffff;
}
.chat-room .under-chat {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.chat-room .under-chat .chat-text {
    height: 2.6rem;
    width: 100%;
    left: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    line-height: 4rem;
    overflow-x: hide;
    font-size: 1.5rem;
    border-radius: 6rem;
    padding-left: 1rem;
    display: block;
    background-color: rgba(0, 0, 0, 0.001);
}
.chat-room .under-chat .t {
    margin-left: 4.5rem;
    padding-right: 6.9rem;
    display: block;
    border: 1px solid;
    border-radius: 6rem;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.04);
}
.chat-room .under-chat .smile {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.3);
    transform: translateX(-300%) translateY(-50%);
}
.chat-room .under-chat .submit {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateX(-10%) translateY(-50%);
    color: rgba(0, 0, 0, 0.3);
}
.chat-room .under-chat .submit > i {
    padding: 1rem;
}
.chat-room .submit > i:last-child {
    display: none;
    border-radius: 50%;
    color: rgba(0, 0, 0, 1);
}
.chat-room .under-chat .plus {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateX(80%) translateY(-50%);
    color: rgba(0, 0, 0, 0.4);
    font-size: 2rem;
}
.day::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #9bbbd4;
}
.day::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}
.day::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}